.selection_bubble {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 100;
  font-size: 18px;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}